<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @invoice.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @invoice.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @invoice.value %>
</p>

<p>
  <strong>Payment day:</strong>
  <%= @invoice.payment_day %>
</p>

<p>
  <strong>Card:</strong>
  <%= @invoice.card.title %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @invoice.paid %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
