<%= simple_form_for(@user_group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :role, collection: options_for_enum(UserGroup, :role, @user_group), include_blank: false %>
    <%= f.association :group, collection: current_user.available_groups %>
    <%= f.input :email %>
    <%= f.input :enabled %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
