<%= render 'header' %>

<div class='box bordered-box green-border' style='margin-bottom:0;'>
  <div class='box-header green-background'>
    <div class='title'>
      <%= t('helpers.index') %>
    </div>
  </div>
  <div class='box-content box-no-padding'>
    <div class='responsive-table'>
      <div class='scrollable-area'>
        <table class='table' style='margin-bottom:0;'>
          <thead>
            <tr>
              <th>
                <%= UserGroup.human_attribute_name("group") %>
              </th>
              <th>
                <%= UserGroup.human_attribute_name("user") %>
              </th>
              <th>
                <%= UserGroup.human_attribute_name("role") %>
              </th>
              <th>
                <%= UserGroup.human_attribute_name("enabled") %>
              </th>
              <th colspan="3">
                <%= t('helpers.actions') %>
              </th>
            </tr>
          </thead>

          <tbody>
            <% @user_groups.each do |user_group| %>
              <tr>
                <td><%= user_group.group.title %></td>
                <td><%= user_group.user.name %></td>
                <td><%= t("activerecord.attributes.user_group.roles.#{user_group.role}") %></td>
                <td><%= human_boolean(user_group.enabled) %></td>
                <td><%= link_to '<i class="icon-search"></i>'.html_safe, [@group, user_group] %></td>
                <td><%= link_to '<i class="icon-edit"></i>'.html_safe, edit_group_user_group_path(@group, user_group) %></td>
                <td><%= link_to '<i class="icon-trash"></i>'.html_safe, [@group, user_group], method: :delete, data: { confirm: t('helpers.are_you_sure') } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<%= link_to t('helpers.titles.new', model: t("activerecord.models.user_group.one")), new_group_user_group_path(@group) %>

