<%= render 'header' %>

<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box green-border'>
      <div class='box-header green-background'>
        <div class='title'>
          <%= t('helpers.show') %>
        </div>
      </div>
      <div class='box-content box-double-padding'>
        <p>
          <strong><%= UserGroup.human_attribute_name("group") %>:</strong>
          <%= @user_group.group.title %>
        </p>

        <p>
          <strong><%= UserGroup.human_attribute_name("user") %>:</strong>
          <%= @user_group.user.try(:name) %>
        </p>

        <p>
          <strong><%= UserGroup.human_attribute_name("role") %>:</strong>
          <%= t("activerecord.attributes.user_group.roles.#{@user_group.role}") %>
        </p>
        <p>
          <strong><%= UserGroup.human_attribute_name("enabled") %>:</strong>
          <%= human_boolean(@user_group.enabled) %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= link_to t('helpers.titles.edit', model: t("activerecord.models.user_group.one")), edit_group_user_group_path(@group, @user_group) %> |
<%= link_to t('helpers.links.back'), group_user_groups_path(@group) %>