<%= render 'header' %>

<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box green-border'>
      <div class='box-header green-background'>
        <div class='title'>
          <%= t('helpers.show') %>
        </div>
      </div>
      <div class='box-content box-double-padding'>
				<p>
				  <strong><%= Group.human_attribute_name("group") %>:</strong>
				  <%= @group.title %>
				</p>

				<p>
				  <strong><%= Group.human_attribute_name("description") %>:</strong>
				  <%= @group.description %>
				</p>

				<p>
				  <strong><%= Group.human_attribute_name("user") %>:</strong>
				  <%= @group.user.name %>
				</p>
			</div>
		</div>
	</div>
</div>

<%= link_to t('helpers.titles.edit', model: t("activerecord.models.group.one")), edit_group_path(@group) %> |
<%= link_to t('helpers.links.back'), groups_path %>
