<div class='box'>
  <div class='box-header'>
    <div class='title'>
      <i class='icon-usd'></i>
      <%= t('activerecord.models.launch.other') %>
    </div>
    <div class='actions'>
        <%= link_to "<i class='icon-plus'></i>".html_safe, new_launch_path, class: 'btn btn-success  ' %>
    </div>
  </div>
  <div class='box-content'>
    <% if @installments.present? %>
      <% @installments.each do |installment| %>
        <%= link_to installment do %>
          <div class='row'>
            <div class='col-sm-2 hidden-xs launch_type_icon'>
              <i class="<%= installment.income? ? 'icon-arrow-up text-green' : 'icon-arrow-down text-red' %>"></i>
            </div>
            <div class='col-sm-7'>
              <h4><%= format_title_recurrence(installment) %></h4>
              <h6 style="color: <%= installment.category.color %>"><%= installment.category.title %></h6>  
            </div>
            <div class='col-sm-3 pull-right'>
              <h4 class='<%= installment.income? ? 'text-green' : 'text-red' %> '><%= number_to_currency(installment.value) %></h4>
            </div>
          </div>
          <div class='clearfix'></div>
        <% end %>
        <hr class='dashboard-hr-account'></hr>
      <% end %>
    <% else %>
      Não há lançamentos nesse periodo
    <% end %>
  </div>
</div>

