<%= render 'header' %>

<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box green-border'>
      <div class='box-header green-background'>
        <div class='title'>
          <%= t('helpers.show') %>
        </div>
      </div>
      <div class='box-content box-double-padding'>

        <p>
          <strong><%= Installment.human_attribute_name("value") %>:</strong>
          <%= number_to_currency(@installment.value) %>
        </p>

        <p>
          <strong><%= Installment.human_attribute_name("date") %>:</strong>
          <%= l(@installment.date, format: :date_picker) %>
        </p>

        <p>
          <strong><%= Installment.human_attribute_name("paid") %>:</strong>
          <%= human_boolean(@installment.paid) %>
        </p>

        <p>
          <strong><%= Installment.human_attribute_name("number_installment") %>:</strong>
          <%= @installment.number_installment %> / <%= @installment.launch.amount_installment %>
        </p>

        <p>
          <strong><%= Installment.human_attribute_name("launch") %>:</strong>
          <%= @installment.launch.title %>
        </p>
        <p>
          <strong><%= Launch.human_attribute_name("proof") %>:</strong>
          <% if @installment.proof.present? %>
            <%= image_tag @installment.proof.url %>
          <% elsif @installment.launch.proof.present? %>
            <%= image_tag @installment.launch.proof.url %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= link_to t('helpers.titles.edit', model: t("activerecord.models.installment.one")), edit_installment_path(@installment) %> |

<% if @installment.launch.not_recurrence? %>
  <%= link_to t('helpers.titles.delete', model: t("activerecord.models.installment.one")), installment_path(@installment, cancel_this: true), method: :delete, data: { confirm: t('helpers.are_you_sure') } %>
<% else %>
  <%= link_to link_to t('helpers.titles.delete', model: t("activerecord.models.installment.one")), cancel_installment_path(@installment), remote: true %>
<% end %>|

<%= link_to t('helpers.links.back'), root_path %>

