<h1>Listing user_roles</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= UserRole.human_attribute_name("user") %></th>
      <th><%= UserRole.human_attribute_name("role") %></th>
      <th><%= UserRole.human_attribute_name("enabled") %></th>
      <th><%= t('helpers.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @user_roles.each do |user_role| %>
      <tr>
        <td><%= user_role.user.try(:name) %></td>
        <td><%= user_role.role.try(:title) %></td>
        <td><%= human_boolean(user_role.enabled) %></td>
        <td>
          <%= link_to t('helpers.links.show'), user_role, class: "btn btn-success" %>
          <%= link_to t('helpers.links.edit'), edit_user_role_path(user_role), class: "btn btn-primary" %>
          <%= link_to t('helpers.links.destroy'), user_role, method: :delete, data: {confirm: t('helpers.links.confirm')}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.titles.new', model: t('activerecord.models.user_role')), new_user_role_path %>