<%= render 'header' %>

<div id='period_navigator_dashboard'>
	<%= render 'layouts/period_navigator' %>
</div>

<%= render 'search_period_modal' %>

<div id='accounts_list_dashboard'>
	<%= render 'accounts/list_dashboard' %>
</div>

<div class='row'>
  <div class='col-sm-6' id='installments_list_dashboard'>
    <%= render 'installments/list_dashboard' %>
  </div>

  <div class='col-sm-6' id='pie_chart_dashboard'>
    <%= render 'pie_chart' %>
  </div>

	  <div class='col-sm-12 no_launches' style='display:none;'>
	  	<div class='box'>
			  <div class='box-content'>
				  <i class='icon-3x icon-remove'></i>
				  <h4><%= t('breadcrumbs.pages.no_launches') %></h4>
			  </div>
			</div>
	  </div>

  <!-- <div class='row'> -->
    <div class="col-sm-6">
    </div>

    <div class='col-sm-6' id='fullcalendar_dashboard'>
      <%= render 'fullcalendar' %>
    </div>
  <!-- </div> -->
</div>