<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box green-border'>
      <div class='box-header green-background'>
        <div class='title'>
          <%= t('helpers.new') if action_name == 'new' %>
          <%= t('helpers.edit') if action_name == 'edit' %>
        </div>
      </div>
      <div class='box-content box-double-padding'>
        <%= simple_form_for(@launch, wrapper: :horizontal_form, html: {class: 'form form-horizontal'}) do |f| %>
          <%= f.error_notification %>
          <fieldset>
            <div class='form-group launch_type_list_wrapper'>
              <div class="btn-group launch_type_list" data-toggle="buttons">
                <label class="btn expense active">
                  <i class='icon-arrow-down text-red'></i>
                  <%= Launch.launch_types.keys.first.capitalize %>
                  <%= f.radio_button :launch_type, Launch.launch_types.keys.first, checked: true, :style=>"display:none;" %>
                </label>
                <label class="btn income">
                  <i class='icon-arrow-up text-green'></i>
                  <%= Launch.launch_types.keys.last.capitalize %>
                  <%= f.radio_button :launch_type, Launch.launch_types.keys.last, style: "display:none;" %>
                </label>
              </div>
              <%#= f.input_field :launch_type, collection: options_for_enum(Launch, :launch_type, @launch), checked: :expense, as: :radio_buttons, boolean_style: :inline %>
            </div>

            <div class='col-sm-8 col-sm-offset-2'>
              <div class='form-group'>
                <%= f.input :title %>
              </div>
              <div class='form-group'>
                <%= f.input :description %>
              </div>
              <div class='form-group'>
                <%= f.input :value, as: :string, input_html: {class: 'format_value'} %>
              </div>
              <div class='form-group'>
                <%= f.input :date do %>
                  <div class='datepicker_button input-group'>
                    <%= f.input_field :date, as: :datepicker, class: 'form-control', data: { format: 'dd/mm/yyyy' } %>
                    <span class='input-group-addon'>
                      <i class='icon-calendar'></i>
                    </span>
                  </div>
                <% end %>
              </div>
              <div class='form-group'>
                <%= f.input :paid %>
              </div>
              <div class='form-group'>
                <%= f.input :global_launchable, as: :grouped_select, collection: [policy_scope(Account), policy_scope(Card)], group_method: :all, value_method: :to_global_id, group_label_method: :human_model_name, include_blank: false %>
              </div>
              <!-- <div class='form-group'> -->
                <%#= f.input :launch_type, collection: options_for_enum(Launch, :launch_type, @launch), include_blank: false %>
              <!-- </div> -->
              <div class='form-group'>
                <%= f.association :category, collection: policy_scope(Category), include_blank: false %>
              </div>
              <div class='form-group'>
                <%= f.association :group, collection: policy_scope(Group) %>
              </div>

              <div class='form-group'>
                <%= link_to "Repetir", "#launchRepeatCollapse", class: 'btn btn-default', data: { toggle: 'collapse' } %>

                <div class="collapse" id="launchRepeatCollapse">
                  <%= f.input_field :recurrence_type, collection: options_for_enum(Launch, :recurrence_type, @launch), include_blank: false, as: :radio_buttons, :item_wrapper_class => 'radio-inline recurrence_type_input' %>
                </div>

                <div class='form-group' id='amount_installment_input' style='display:none;'>
                  <%= f.input :amount_installment %>
                </div>
                
                <div class='form-group collapseRecorrente' id='recurrence_input' style='display:none;'>
                  <%= f.input :recurrence, collection: options_for_enum(Launch, :recurrence, @launch), include_blank: false %>
                </div>
              </div>

            </div>
          </fieldset>
          <hr class='hr-normal'>
          <div class='row'>
            <div class='col-sm-7 col-sm-offset-5'>
              <%= f.button :submit, class: 'btn-lg btn-success' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>