<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box green-border'>
      <div class='box-header green-background'>
        <div class='title'>
          <%= t('helpers.new') if action_name == 'new' %>
          <%= t('helpers.edit') if action_name == 'edit' %>
        </div>
      </div>

      <%= render 'accounts/form_modal' %>

      <div class='box-content box-double-padding'>
        <%= simple_form_for(@launch, wrapper: :horizontal_form, html: {class: 'form form-horizontal'}) do |f| %>
          <%= f.error_notification %>
          <fieldset>
            <div class='form-group launch_type_list_wrapper'>
              <div class="btn-group launch_type_list" data-toggle="buttons">
                <label class="btn expense active">
                  <i class='icon-arrow-down text-red'></i>
                  <%= options_for_enum(Launch, :launch_type, @launch)[0][0] %>
                  <%= f.radio_button :launch_type, Launch.launch_types.keys.first, checked: true, :style=>"display:none;" %>
                </label>
                <label class="btn income">
                  <i class='icon-arrow-up text-green'></i>
                  <%= options_for_enum(Launch, :launch_type, @launch)[1][0] %>
                  <%= f.radio_button :launch_type, Launch.launch_types.keys.last, style: "display:none;" %>
                </label>
              </div>
            </div>
            <div class='col-sm-8 col-sm-offset-2'>
              <div class='form-group'>
                <%= f.input :title %>
              </div>
              <div class='form-group'>
                <%= f.input :description %>
              </div>
              <div class='form-group'>
                <%= f.input :value, as: :string, input_html: {class: 'format_value'} %>
                <label class='paid_input_icon_label'>
                  <i class='icon-2x <%= @launch.paid? ? 'icon-thumbs-up-alt text-green' : 'icon-thumbs-down-alt text-red' %> paid_input_icon' title='<%= t('breadcrumbs.pages.click_to_mark_paid') %>' data-paid='not_paid' data-title-paid='<%= t('breadcrumbs.pages.click_to_mark_paid') %>' data-title-not-paid='<%= t('breadcrumbs.pages.click_to_mark_not_paid') %>' style='<%= 'display:none;' if @launch.try(:launchable_type).try(:==, 'Card')%>'></i>
                    <%= f.input :paid, wrapper_html: {style: "display:none;"} %>
                </label>
              </div>
              <div class='form-group'>
                <%= f.input :date do %>
                  <div class='datepicker_button input-group'>
                    <%= f.input_field :date, as: :datepicker, class: 'form-control', data: { format: 'dd/mm/yyyy' } %>
                    <span class='input-group-addon'>
                      <i class='icon-calendar'></i>
                    </span>
                  </div>
                <% end %>
              </div>
              <div class='form-group'>
                <%= f.input :global_launchable, as: :grouped_select, collection: [policy_scope(Account), policy_scope(Card)], group_method: :all, value_method: :to_global_id, group_label_method: :human_model_name, include_blank: false %>
                <%= link_to "<i class='icon-plus'></i>".html_safe, "#", class: 'btn btn-success btn-sm btn_new', data: {toggle: 'modal', target: '#accounts_form_modal'} %>
                <%#= link_to "<i class='icon-plus'></i>".html_safe, new_account_path, class: 'btn btn-success btn-sm btn_new' %>
              </div>
              <div class='form-group'>
                <%= f.association :category, collection: policy_scope(Category), include_blank: false %>
                <%= link_to "<i class='icon-plus'></i>".html_safe, new_category_path, class: 'btn btn-success btn-sm btn_new' %>
              </div>
              <div class='form-group'>
                <%= f.association :group, collection: policy_scope(Group) %>
                <%= link_to "<i class='icon-plus'></i>".html_safe, new_group_path, class: 'btn btn-success btn-sm btn_new' %>
              </div>

              <div class='form-group'>
                <div class='col-sm-2'>
                  <%= link_to "Repetir", "#launch_repeat_collapse", class: 'btn btn-default', data: { toggle: 'collapse' } %>
                </div>
                <div id='recurrence_type_chosen' class='col-sm-10'>
                  <%= t('activerecord.attributes.launch.recurrence_types.not_recurrence') %>
                </div>

                <div class="collapse" id="launch_repeat_collapse">
                  <%= f.input_field :recurrence_type, collection: options_for_enum(Launch, :recurrence_type, @launch), include_blank: false, as: :radio_buttons, :item_wrapper_class => 'radio-inline recurrence_type_input' %>

                  <div class='form-group' id='amount_installment_input' style='display:none;'>
                    <%= f.input :amount_installment %>
                  </div>
                  
                  <div class='form-group collapseRecorrente' id='recurrence_input' style='display:none;'>
                    <%= f.input :recurrence, collection: options_for_enum(Launch, :recurrence, @launch), include_blank: false %>
                  </div>
                </div>
              </div>

            </div>
          </fieldset>
          <hr class='hr-normal'>
          <div class='row'>
            <div class='col-sm-7 col-sm-offset-5'>
              <%= f.button :submit, class: 'btn-lg btn-success' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>