<div class='box-content'>
  <%= simple_form_for(@launch, wrapper: :horizontal_form, html: {class: 'form form-horizontal'}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :value %>
      <%= f.input :date, as: :datepicker %>
      <%= f.input :paid %>
      <%= f.input :global_launchable, as: :grouped_select, collection: [policy_scope(Account), policy_scope(Card)], group_method: :all, value_method: :to_global_id, group_label_method: :human_model_name, include_blank: false %>
      <%= f.input :recurrence_type, collection: options_for_enum(Launch, :recurrence_type, @launch), include_blank: false %>
      <%= f.input :amount_installment %>
      <%= f.input :recurrence, collection: options_for_enum(Launch, :recurrence, @launch), include_blank: false %>
      <%= f.input :launch_type, collection: options_for_enum(Launch, :launch_type, @launch), include_blank: false %>
      <%= f.association :category, collection: policy_scope(Category), include_blank: false %>
      <%= f.association :group, collection: policy_scope(Group) %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>