<div class='box-content'>
  <%= simple_form_for(@launch, wrapper: :horizontal_form, html: {class: 'form form-horizontal'}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :value %>
      <%= f.input :date, as: :datepicker %>
      <%= f.input :paid %>
      <%= f.association :launchable, collection: [Account, Card], as: :grouped_select, group_method: :all, group_label_method: :human_model_name %>
      <%= f.input :recurrence_type, collection: options_for_enum(Launch, :recurrence_type, @launch) %>
      <%= f.input :amount_installment %>
      <%= f.input :recurrence, collection: options_for_enum(Launch, :recurrence, @launch) %>
      <%= f.input :launch_type, collection: options_for_enum(Launch, :launch_type, @launch) %>
      <%= f.association :category %>
      <%= f.association :user %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>