<div id="sign_in1">
    <div class="container">
        <div class="row">
            <div class="span12 header">
                <h4>Log in to your account</h4>
                <div class="span4 social">
                  <%= link_to image_tag("theme/face.png", :border => 0), "#", :class => 'circle facebook' %>
                  <%= link_to image_tag("theme/twt.png", :border => 0), "#", :class => 'circle twitter' %>
                  <%= link_to image_tag("theme/gplus.png", :border => 0), "#", :class => 'circle gplus ' %>
                </div>
            </div>

            <div class="span3 division">
                <div class="line l"></div>
                <span>or</span>
                <div class="line r"></div>
            </div>

            <div class="span12 footer">
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
								    <%= f.input_field :email, required: false, autofocus: true, label: false, placeholder: 'email' %>
								    <%= f.input_field :password, required: false, label: false, placeholder: 'password' %>
								    <%= f.button :submit, "Log in" %>
            </div>
            <div class="span12 proof">
            	<div class="span5 remember">
								    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
							</div>
								<% end %>
						</div>
						<div class="devise_links">
								<%= render "devise/shared/links" %>
						</div>

        </div>
    </div>
</div>
