<h1>Listing roles</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Role.human_attribute_name("title") %></th>
      <th><%= Role.human_attribute_name("description") %></th>
      <th><%= t('helpers.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.title %></td>
        <td><%= role.description %></td>
        <td>
          <%= link_to t('helpers.links.show'), role, class: "btn btn-success" %>
          <%= link_to t('helpers.links.edit'), edit_role_path(role), class: "btn btn-primary" %>
          <%= link_to t('helpers.links.destroy'), role, method: :delete, data: {confirm: t('helpers.links.confirm')}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_role_path %>
