<p>
  <strong><%= Role.human_attribute_name("title") %>:</strong>
  <%= @role.title %>
</p>

<p>
  <strong><%= Role.human_attribute_name("description") %>:</strong>
  <%= @role.description %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
