<%= simple_form_for(@card) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :brand, collection: options_for_enum(Card, :brand, @card), include_blank: false %>
    <%= f.input :title %>
    <%= f.input :credit_limit %>
    <%= f.association :account, collection: policy_scope(Account) %>
    <%= f.input :billing_day %>
    <%= f.input :payment_day %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
