<div class='page-header page-header-with-buttons'>
  <h1 class='pull-left'>
    <i class='icon-credit-card'></i>
    <span><%= t('activerecord.models.card.other') %></span>
  </h1>
  <!-- <div class='pull-right'>
    <div class='btn-group'>
      <a class="btn btn-white hidden-xs" href="#">Last month</a>
      <a class="btn btn-white" href="#">Last week</a>
      <a class="btn btn-white " href="#">Today</a>
            <a class="btn btn-white" id="daterange" href="#"><i class='icon-calendar'></i>
      <span>Custom</span>
      <b class='caret'></b>
      </a>
    </div>
  </div> -->
</div>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Title</th>
      <th>Credit limit</th>
      <th>Billing day</th>
      <th>Payment day</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.brand %></td>
        <td><%= card.title %></td>
        <td><%= card.credit_limit %></td>
        <td><%= card.billing_day %></td>
        <td><%= card.payment_day %></td>
        <td><%= card.account %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
