<p id="notice"><%= notice %></p>

<h1>Listing Cards</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Title</th>
      <th>Credit limit</th>
      <th>Billing day</th>
      <th>Payment day</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.brand %></td>
        <td><%= card.title %></td>
        <td><%= card.credit_limit %></td>
        <td><%= card.billing_day %></td>
        <td><%= card.payment_day %></td>
        <td><%= card.account %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
