<%= render 'header' %>

<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box green-border'>
      <div class='box-header green-background'>
        <div class='title'>
            <%= t('helpers.show') %>
        </div>
        
      </div>
      <div class='box-content box-double-padding'>

        <p>
          <strong><%= Card.human_attribute_name("brand") %>:</strong>
          <%= t("activerecord.attributes.card.brands.#{@card.brand}") %>
        </p>

        <p>
          <strong><%= Card.human_attribute_name("title") %>:</strong>
          <%= @card.title %>
        </p>

        <p>
          <strong><%= Card.human_attribute_name("credit_limit") %>:</strong>
          <%= number_to_currency(@card.credit_limit) %>
        </p>

        <p>
          <strong><%= Card.human_attribute_name("billing_day") %>:</strong>
          <%= @card.billing_day %>
        </p>

        <p>
          <strong><%= Card.human_attribute_name("payment_day") %>:</strong>
          <%= @card.payment_day %>
        </p>

        <p>
          <strong><%= Card.human_attribute_name("account") %>:</strong>
          <%= @card.account.try(:title) %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= link_to t('helpers.titles.edit', model: t("activerecord.models.card.one")), edit_card_path(@card) %> |
<%= link_to t('helpers.links.back'), cards_path %>
