<%= render 'header' %>

<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box green-border'>
      <div class='box-header green-background'>
        <div class='title'>
            <%= t('helpers.show') %>
        </div>
        
      </div>
      <div class='box-content box-double-padding'>
				<p>
				  <strong><%= Launch.human_attribute_name("category") %>:</strong>
				  <%= @goal.category.title %>
				</p>

				<p>
				  <strong><%= Launch.human_attribute_name("value") %>:</strong>
				  <%= number_to_currency(@goal.value) %>
				</p>
			</div>
		</div>
	</div>
</div>

<%= link_to t('helpers.titles.edit', model: t("activerecord.models.launch.one")), edit_goal_path(@goal) %> |
<%= link_to t('helpers.links.back'), goals_path %>
