<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @goal.value %>
</p>

<p>
  <strong>Category:</strong>
  <%= @goal.category %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
