


<div class="modal fade" id="categories_form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div style='font-size:18px'>
            <i class='icon-usd'></i>
            <span><%= t('helpers.new') %> <%= t('activerecord.models.category.one') %></span>
          </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for(Category.new, wrapper: :horizontal_form, html: {class: 'form form-horizontal'}) do |f| %>
            <%= f.error_notification %>
            <fieldset>
              <div class='col-sm-8 col-sm-offset-2'>
                <div class='form-group'>
                  <%= f.input :title %>
                </div>
                <div class='form-group'>
                  <%= f.input :description %>
                </div>
                <div class='form-group'>
                  <%= f.input :color, input_html: {type: "color" } %>
                </div>
              </div>
            </fieldset> 
            <%= f.hidden_field :modal, value: :launch %>
       </div>
      </div>
      <div class="modal-footer">
            <%= f.button :submit, class: 'btn-lg btn-success submit_modal', data: {form_id: '#new_category' } %>
          <% end %> 
      </div>
    </div>
  </div>
</div>
