  <nav class="main-nav-fixed" id="main-nav">
    <div class='navigation'>
      <ul class='nav nav-stacked'>
        <li class="<%= 'active' if controller_name == "home" %>">
          <%= link_to root_path do %>
            <i class='icon-dashboard'></i>
            <span><%= t('breadcrumbs.pages.general_view') %></span>
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "launches" %>">
          <%= link_to (launches_path) do %>
            <i class='icon-upload'></i>
            <span><%= t('activerecord.models.launch.other') %></span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "accounts" %>">
          <%= link_to (accounts_path) do %>
            <i class='icon-usd'></i>
            <span><%= t('activerecord.models.account.other') %></span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "cards" %>">
          <%= link_to (cards_path) do %>
            <i class='icon-credit-card'></i>
            <span><%= t('activerecord.models.card.other') %></span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "categories" %>">
          <%= link_to (categories_path) do %>
            <i class='icon-tag'></i>
            <span><%= t('activerecord.models.category.other') %></span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "groups" %>">
          <%= link_to (groups_path) do %>
            <i class='icon-user'></i>
            <span><%= t('activerecord.models.group.other') %></span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
