  <nav class="main-nav-fixed" id="main-nav">
    <div class='navigation'>
      <ul class='nav nav-stacked'>
        <li class="<%= 'active' if controller_name == "home" and action_name == "dashboard" %>">
          <%= link_to home_dashboard_path do %>
            <i class='icon-dashboard'></i>
            <span><%= t('breadcrumbs.pages.general_view') %></span>
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "launches" %>">
          <%= link_to (launches_path) do %>
            <i class='icon-upload'></i>
            <span><%= t('activerecord.models.launch.other') %></span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "installments" %>">
          <%= link_to (installments_path) do %>
            <i class='icon-list-alt'></i>
            <span><%= t('activerecord.models.installment.other') %></span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "accounts" %>">
          <%= link_to (accounts_path) do %>
            <i class='icon-usd'></i>
            <span><%= t('activerecord.models.account.other') %></span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "cards" %>">
          <%= link_to (cards_path) do %>
            <i class='icon-credit-card'></i>
            <span><%= t('activerecord.models.card.other') %></span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "categories" %>">
          <%= link_to (categories_path) do %>
            <i class='icon-tag'></i>
            <span><%= t('activerecord.models.category.other') %></span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "goals" %>">
          <%= link_to (goals_path) do %>
            <i class='icon-screenshot'></i>
            <span><%= t('activerecord.models.goal.other') %></span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "groups" %>">
          <%= link_to (groups_path) do %>
            <i class='icon-user'></i>
            <span><%= t('activerecord.models.group.other') %></span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "calendar" %>">
          <%= link_to "#" do %>
            <i class='icon-calendar'></i>
            <span>Calendário</span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "reports" %>">
          <%= link_to "#" do %>
            <i class='icon-list-alt'></i>
            <span>Relatórios</span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
        <li class="<%= 'active' if controller_name == "graphs" %>">
          <%= link_to "#" do %>
            <i class='icon-signal'></i>
            <span>Gráficos</span>
            <!-- <i class='icon-angle-down angle-down'></i> -->
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
