  <nav class="main-nav-fixed" id="main-nav">
    <div class='navigation'>
      <ul class='nav nav-stacked'>
        <li class="<%= 'active' if controller_name == "home" and action_name == "dashboard" %>">
          <%= link_to home_dashboard_path do %>
            <i class='icon-dashboard'></i>
            <span><%= t('breadcrumbs.pages.general_view') %></span>
          <% end %>
        </li>

        <li class="<%= 'active' if controller_name == "accounts" %>">
          <a class="dropdown-collapse" href="#"><i class='icon-edit'></i>
          <span><%= t('activerecord.models.account.other') %></span>
          <i class='icon-angle-down angle-down'></i>
          </a>
          <ul class='nav nav-stacked <%= 'in' if controller_name == "accounts" %>'>
            <li class="<%= 'active' if action_name == "index" %>">
              <%= link_to (accounts_path) do %>
                <i class='icon-caret-right'></i>
                <span><%= t('helpers.index') %></span>
                <% end %>
            </li>
            <li class="<%= 'active' if action_name == "new" %>">
              <%= link_to (new_account_path) do %>
                <i class='icon-caret-right'></i>
                <span><%= t('helpers.new') %></span>
                <% end %>
            </li>
          </ul>
        </li>

        <li class="<%= 'active' if controller_name == "cards" %>">
          <a class="dropdown-collapse" href="#"><i class='icon-credit-card'></i>
          <span><%= t('activerecord.models.card.other') %></span>
          <i class='icon-angle-down angle-down'></i>
          </a>
          <ul class='nav nav-stacked <%= 'in' if controller_name == "cards" %>'>
            <li class="<%= 'active' if action_name == "index" %>">
              <%= link_to (cards_path) do %>
                <i class='icon-caret-right'></i>
                <span><%= t('helpers.index') %></span>
                <% end %>
            </li>
            <li class="<%= 'active' if action_name == "new" %>">
              <%= link_to (new_card_path) do %>
                <i class='icon-caret-right'></i>
                <span><%= t('helpers.new') %></span>
                <% end %>
            </li>
          </ul>
        </li>

        <li class="<%= 'active' if controller_name == "invoices" %>">
          <%= link_to (invoices_path) do %>
            <i class='icon-list-alt'></i>
            <span><%= t('activerecord.models.invoice.other') %></span>
          <% end %>
        </li>


        <li class="<%= 'active' if controller_name == "categories" %>">
          <a class="dropdown-collapse" href="#"><i class='icon-tag'></i>
          <span><%= t('activerecord.models.category.other') %></span>
          <i class='icon-angle-down angle-down'></i>
          </a>
          <ul class='nav nav-stacked <%= 'in' if controller_name == "categories" %>'>
            <li class="<%= 'active' if action_name == "index" %>">
              <%= link_to (categories_path) do %>
                <i class='icon-caret-right'></i>
                <span><%= t('helpers.index') %></span>
                <% end %>
            </li>
            <li class="<%= 'active' if action_name == "new" %>">
              <%= link_to (new_category_path) do %>
                <i class='icon-caret-right'></i>
                <span><%= t('helpers.new') %></span>
                <% end %>
            </li>
          </ul>
        </li>

        <li class="<%= 'active' if controller_name == "goals" %>">
          <a class="dropdown-collapse" href="#"><i class='icon-screenshot'></i>
          <span><%= t('activerecord.models.goal.other') %></span>
          <i class='icon-angle-down angle-down'></i>
          </a>
          <ul class='nav nav-stacked <%= 'in' if controller_name == "goals" %>'>
            <li class="<%= 'active' if action_name == "index" %>">
              <%= link_to (goals_path) do %>
                <i class='icon-caret-right'></i>
                <span><%= t('helpers.index') %></span>
                <% end %>
            </li>
            <li class="<%= 'active' if action_name == "new" %>">
              <%= link_to (new_goal_path) do %>
                <i class='icon-caret-right'></i>
                <span><%= t('helpers.new') %></span>
                <% end %>
            </li>
          </ul>
        </li>

        <li class="<%= 'active' if controller_name == "groups" %>">
          <a class="dropdown-collapse" href="#"><i class='icon-user'></i>
          <span><%= t('activerecord.models.group.other') %></span>
          <i class='icon-angle-down angle-down'></i>
          </a>
          <ul class='nav nav-stacked <%= 'in' if controller_name == "groups" %>'>
            <li class="<%= 'active' if action_name == "index" %>">
              <%= link_to (groups_path) do %>
                <i class='icon-caret-right'></i>
                <span><%= t('helpers.index') %></span>
                <% end %>
            </li>
            <li class="<%= 'active' if action_name == "new" %>">
              <%= link_to (new_group_path) do %>
                <i class='icon-caret-right'></i>
                <span><%= t('helpers.new') %></span>
                <% end %>
            </li>
          </ul>
        </li>

        <li class="<%= 'active' if controller_name == "home" and action_name == "calendar" %>">
          <%= link_to home_calendar_path do %>
            <i class='icon-calendar'></i>
            <span><%= t('breadcrumbs.pages.calendar') %></span>
          <% end %>
        </li>

        <li class="<%= 'active' if controller_name == "home" and action_name == "report" %>">
          <%= link_to home_report_path do %>
            <i class='icon-list-alt'></i>
            <span><%= t('breadcrumbs.pages.reports') %></span>
          <% end %>
        </li>

        <li class="<%= 'active' if controller_name == "home" and action_name == "chart" %>">
          <%= link_to home_chart_path do %>
            <i class='icon-signal'></i>
            <span><%= t('breadcrumbs.pages.charts') %></span>
          <% end %>
        </li>

      </ul>
    </div>
  </nav>
