<!DOCTYPE html>
<html>
	<head>
	  <title>Finapp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	
	<body class="<%= 'pull_top' unless user_signed_in? %>">
		<%= render partial: "layouts/header" %>
		<div class="<%= 'container main' if user_signed_in? %>">
			<%= yield %>
		</div>
		<%= render partial: "layouts/footer" %>
	</body>
</html>
