<!DOCTYPE html>
<html>
  <head>
		<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	  <title>Finapp</title>
	  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body class="contrast-green <%= user_signed_in? ? 'fixed-header fixed-navigation' : 'login contrast-background' %>">
		<%= render partial: "layouts/header" %>

		<% if user_signed_in? %>
			<div id="wrapper">
				<div id='main-nav-bg'></div>
				<%= render partial: "layouts/navigator" %>
				<section id='content'>
		      <div class='container'>
		        <div class='row' id='content-wrapper'>
		          <div class='col-xs-12'>
		          	<div id="flash" class="flash"><%= render :partial => "layouts/flash_header" %></div>
								<%= yield %>
							</div>
						</div>
					</div>
				</section>
			</div>
		<% else %>
			<%= yield %>
		<% end %>
		<%#= render partial: "layouts/footer" %>
	</body>
</html>
