<div class='col-sm-6'>
  <div class='box'>
    <div class='box-header'>
      <div class='title'>
        <i class='icon-usd'></i>
        <%= t('activerecord.models.account.other') %>
      </div>
      <div class='actions'>
        <%= link_to "<i class='icon-plus'></i>".html_safe, new_account_path, class: 'btn btn-success  ' %>
      </div>
    </div>
    <div class='box-content'>
      <% if @accounts.present? %>
        <div class='accounts_general'>
          <div class='pull-left'>
            <% sum_of_accounts_value = Account.sum_of_values(@accounts) %>
            <h4><i class='icon-chevron-down'></i> <%= t('breadcrumbs.pages.total_balance') %></h4>
          </div>
          <div class='pull-right text-right'>
            <h5>Período: <span class='<%= sum_of_accounts_value.try(:>, 0) ? 'text-green' : 'text-red' %>' title='Saldo até o fim de <%= date_format %>'><%= number_to_currency(Account.sum_of_values_by_period(@accounts, @end_date)) %></span></h5>
            <% unless @search_period_type == 'period' %>
              <h5>Previsto: <span class='<%= sum_of_accounts_value.try(:>, 0) ? 'text-green' : 'text-red' %>' title='Previsto para o fim <%= t("datetime.prompts.#{@search_period_type}") %> atual' ><%= number_to_currency(Account.sum_of_future_values(@accounts, @search_period_type)) %></span></h5>
            <% end %>
            <h3><span style='font-size:15px;'>Atual:</span> <span class='subtotal <%= sum_of_accounts_value > 0 ? 'text-green' : 'text-red' %> '><%= number_to_currency(sum_of_accounts_value) %></span></h3>
          </div>
          <div class='clearfix'></div>
        </div>
        <div class='details' style='display:none'>
        <hr class='hr-normal'></hr>
          <div class='col-sm-12'>
            <% @accounts.each do |account| %>
              <%= link_to account do %>
                <div class='pull-left'>
                  <h4><%= account.title %></h4>
                </div>
                <div class='pull-right text-right'>
                  <h5 style='margin: 2px 0px;'>Período: <span class='<%= account.total_value_by_period(@end_date).try(:>, 0) ? 'text-green' : 'text-red' %> '><%= number_to_currency(account.total_value_by_period(@end_date)) %></span></h5>
                  <% unless @search_period_type == 'period' %>
                    <h5 style='margin: 2px 0px;'>Previsto: <span class='<%= account.total_future_value(@search_period_type) > 0 ? 'text-green' : 'text-red' %> '><%= number_to_currency(account.total_future_value(@search_period_type)) %></span></h5>
                  <% end %>
                  <h4><span style='font-size:14px;'>Atual:</span> <span class='<%= account.value > 0 ? 'text-green' : 'text-red' %> '><%= number_to_currency(account.value) %></span></h4>  
                </div>
                <div class='clearfix'></div>
              <% end %>
              <hr class='dashboard-hr-account'></hr>
            <% end %>
          </div>
        </div>
      <% else %>
        Não há contas cadastradas
      <% end %>
    </div>
  </div>
</div>