<%= render 'header' %>

<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box green-border'>
      <div class='box-header green-background'>
        <div class='title'>
            <%= 'Show' %>
        </div>
        
      </div>
      <div class='box-content box-double-padding'>

        <p>
          <strong><%= Account.human_attribute_name("account_type") %>:</strong>
          <%= t("activerecord.attributes.account.account_types.#{@account.account_type}") %>
        </p>

        <p>
          <strong><%= Account.human_attribute_name("title") %>:</strong>
          <%= @account.title %>
        </p>

        <p>
          <strong><%= Account.human_attribute_name("description") %>:</strong>
          <%= @account.description %>
        </p>

        <p>
          <strong><%= Account.human_attribute_name("value") %>:</strong>
          <%= number_to_currency(@account.value) %>
        </p>

        <p>
          <strong><%= Account.human_attribute_name("user") %>:</strong>
          <%= @account.user.name %>
        </p>
      </div>
    </div>
  </div>
</div>

<%= link_to t('helpers.titles.edit', model: t("activerecord.models.account.one")), edit_account_path(@account) %> |
<%= link_to t('helpers.links.back'), accounts_path %>
